{% extends "bootstrap/base.html" %}
{% block content %}

    <div class="content">


        <div class="well-lg">
            <h1 class="text-center">Todo editieren</h1>
        </div>


        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">

                <form method="POST">
                    <input type="text" name="task" id="task" value="{{ task }}">
                    <button type="submit">Editieren</button>
                </form>

            </div>

        </div>

    </div>


{% endblock %}