{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('.static', filename='style.css') }}">
{% endblock %}

{% block content %}

    <div class="content">


        <div class="well-lg">
            <h1 class="text-center">Todos</h1>
        </div>

        <ul class="list-group">
            <li class="span9 btn-block">
                <a href="{{ url_for('create_todo') }}" class="btn btn-large btn-block btn-info full-width angularcorners" type="button">Erstellen</a>
            </li>

            {% for todo in todos %}

                <li class="list-group-item"><label>{{ todo.task }}</label>

                    <a href="{{ url_for('delete_todo', id = todo.id) }}"><span
                            class="glyphicon glyphicon-trash pull-right fixpadding"></span>
                    </a>

                    <a href="{{ url_for('edit_todo', id = todo.id) }}"><span
                            class="glyphicon glyphicon-edit pull-right fixpadding"></span>
                    </a>
                </li>
            {% endfor %}
        </ul>


    </div>


{% endblock %}
</div>